.App {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
  height: 90.55vh;
  width: 100%;

}

select, button , option{
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  background-color: rgb(231, 219, 219);
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
}

input{
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  background-color: rgb(231, 219, 219);
  border-radius: 10px;
  margin-top: 20px;
  transition: all 0.3s ease;
  overflow: hidden;
}


p {
  font-size: 18px;
  font-weight: bold;
}

button:hover {
  background-color: rgb(36, 197, 14);
  box-shadow: 0 0 10px rgba(116, 187, 1, 0.8);
}

input:hover{
  background-color: rgb(36, 197, 14);
  box-shadow: 0 0 10px rgba(116, 187, 1, 0.8);
}

select:hover{
  background-color: rgb(36, 197, 14);
  box-shadow: 0 0 10px rgba(116, 187, 1, 0.8);
}
